#events {
    border: 1px solid var(--text);
}

.event_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.event {
    padding: 15px;
}

#hackathon {
    background-image: url(../imgs/hackathon_background.png);
    background-position-y: -25px;
}

#coding-challenge {
    background-image: url(../imgs/coding_challenge_background.png);
    background-position-y: -60px;
}

#project-showcase {
    background-image: url(../imgs/project_showcase_background.png);
    background-position-y: -70px;
}

.event_page_wrapper {
    padding: 20px;
    border-radius: 10px;
}

#event_page_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#hackathon_event {
    background-image: url(../imgs/4.png);
}
#coding_challenge_event {
    background-image: url(../imgs/5.png);
}
#project_showcase_event {
    background-image: url(../imgs/6.png);
    background-position-y: -70px;
}