/* Structures */
.section {
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

/* Hero Section */
.hero {
    min-height: 825px;
    max-width: 800px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--text);

    border-radius: 10px;

    background-color: rgba(0,0,0,.7);
    background-blend-mode: multiply;

    background-repeat: no-repeat;
    background-size: cover;
}
#main_page_hero {
    background-image: url("../imgs/old_computer.png");
}
#summer_camp_hero {
    background-image: url("../imgs/future.jpeg");
}

.header {
    color: var(--light);
    font-size: clamp(var(--lg-text), 3vw, var(--max-lg-text));
    font-weight: 400;
    margin: 0px;
    padding: 20px;
    text-align: center;
}
.dark .magic, .light-magic {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;

}
.magic {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--dark-purple),
        var(--violet),
        var(--purple),
        var(--dark-purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.small-header {
    color: var(--light);
    font-size: clamp(var(--md-text), 1.5vw, var(--max-md-text));
    font-weight: 400;
    max-width: 600px;
}

.call-to-action {
    color: var(--light);
    border: 1px solid var(--light);
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    
    font-size: clamp(var(--md-text), 1.5vw, var(--lg-text));
}
.call-to-action:hover {
    text-decoration: underline;
    border: 1px solid var(--light);
    border-radius: 20px;
    padding: 10px 20px;

    /* background-color: var(--violet); */
}
.learn_more {
    color: var(--text);
    padding-left: 30px;
    text-decoration: none;
}
.learn_more:hover {
    text-decoration: underline;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

/* Media Queries */
@media (max-width: 600px) {

    .header {
        font-size: clamp(var(--lg-text), 3vw, var(--xl-text));
    }
}

/* Media Queries */
@media (max-width: 450px) {
    .header {
        font-size: var(--lg-text);
    }

    .hero {
        min-height: 875px;
    }
}