/* Structures */
.section {
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

/* Hero Section */
.hero {
    min-height: 600px;
    max-width: 800px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid white;

    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;

    background-image: url("../imgs/old_computer.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    color: var(--light);
    font-size: clamp(3em, 4vw, 6em);
    font-weight: 400;
    margin: 0px;
    padding: 20px;
    text-align: center;
}
.magic {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.small-header {
    color: var(--light);
    font-size: clamp(1em, 2vw, 2em);
    font-weight: 400;
    max-width: 600px;
}

.call-to-action {
    color: var(--light);
    border: 1px solid var(--light);
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    
    font-size: clamp(1em, 2vw, 2em);

    transition: ease-in 0.2s;
}
.call-to-action:hover {
    text-decoration: underline;
    border: 1px solid var(--light);
    border-radius: 20px;
    padding: 10px 20px;

    background-color: var(--violet);
}
.learn_more {
    color: var(--light);
    padding-left: 30px;
    text-decoration: none;
}
.learn_more:hover {
    text-decoration: underline;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

/* Media Queries */
@media (max-width: 600px) {
    .header {
        font-size: clamp(2em, 3vw, 4em);
    }
}