.description_image {
    background-color: rgba(0,0,0,.5);
    background-blend-mode: multiply;

    background-repeat: no-repeat;
    background-size: cover;

    background-origin: border-box;
    background-repeat: no-repeat;

    color: var(--light);
    padding: 10px;

    border-radius: 10px;
}
#chess {
    background-image: url("../imgs/chess.jpeg");
    background-position-y: -60px;
}
#adventure_game {
    background-image: url("../imgs/game.jpeg");
    background-position-y: -60px;
}
#scavenger_hunt {
    background-image: url("../imgs/scavenger_hunt.jpeg");
    background-position-y: -60px;
}

.pitch {
    border: 1px solid var(--text);
    border-radius: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 20px;
    
    padding: 20px;
}

.background_image {
    position: absolute;
    overflow: hidden;

    z-index: -1;
    opacity: 0.6;
    width: 100%;
    max-width: 600px;
}

.main-header {
    column-span: 2;
}

/* Media Queries */
@media (max-width: 800px) {
    .pitch {
        grid-template-columns: 1fr;
        margin: 10px;
    }
}