@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik+Iso&display=swap');

:root {
    --background-color-light: #ffffff;
    --background-color-dark: #212121;
    --dark-purple: rgb(52, 0, 75);
    --purple: rgb(197, 114, 233);
    --violet: rgb(170, 120, 255);
    --pink: rgb(244, 143, 177);
    --light: white;
    --dark: #212121;

    --max-lg-text: 45px;
    --max-md-text: 30px;
    --xl-text: 3em;
    --lg-text: 2em;
    --md-text: 1.2em;
    --sm-text: 1em;
}

/* General */
html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: var(--bg);
    font-family: "Karla", sans-serif;
    font-size: var(--sm-text);
    color: var(--text);

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;

    transition: ease-in 0.2s;
}

.highlight {
    color: var(--violet);
}

.link {
    color: var(--light);
}

.chips {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.chips a {
    text-decoration: none;

    color: var(--text);
    text-align: center;
    line-height: 100%;

    padding: 10px;
    border: 1px solid var(--text);
    border-radius: 10px;

    width: clamp(50px, 150px, 200px);
}
.chips a:hover {
    text-decoration: underline;
}

.section_wrapper {
    max-width: 800px;
    width: 100%;
    color: var(--text);

    margin-bottom: 30px;
    box-sizing: border-box;
}