.social_proof {
    padding: 0px 15px;

    border: 1px solid var(--text);
    border-radius: 10px;
}

.quote {
    font-size: var(--md-text);

    border-left: 3px solid var(--text);
    padding-left: 15px;

    margin-top: 10px;
}
.quote_author {
    font-size: var(--md-text);
}